<h1>Pravda o vlaku svobody</h1>
<p>Přicházíme k vám znovu s poselstvím ze svobodného světa, abychom vám pověděli pravdu o československém vlaku, který dne 11. září unikl se stoosmi cestujícími z Československa.</p>
<p>Komunisté se zběsile pokoušejí vám nějak vysvětlit únik vlaku Praha-Aš, který po vedlejší koleji a navzdory hraničním závorám dorazil do Selbu. Vytvořili proto smyšlenku o teroristických skupinách a cizích agentech.
<h3>Poslyšte, jaká je pravda:</h3>
<p>Uprchlíci byli vlastenečtí Čechoslováci, kteří nepotřebovali pomoc nějakých „agentů z ciziny“. Strojvůdce Jaroslav Konvalinka, jeho žena a jeho dvě děti, šestileté a devítileté, nejsou žádní cizinci. Stejně není cizincem Karel Truxa, bývalý přednosta stanice v Aši a jeho žena. Totéž platí o všech ostatních, kteří si vybojovali cestu na svobodu. Byli to právě takoví lidé jako vy, lidé, kterým se dokonale zhnusil útlak. Byl mezi nimi i dr.Švec, který odolal nátlaku tajné policie, když jej chtěla nutit, aby zrazoval vlastní přátele. Byli mezi nimi dva studenti právníci, kteří se museli vzdát studií, protože nebyli členy komunistické strany. Byl mezi nimi mechanik se ženou a dvěma malými dcerkami, kteří se už dvakrát předtím pokusili překročit hranice. Lze o těchto lidech opravdu mluvit jako o teroristech?</p>
<p>[ … ]</p>
<p>Nikoliv, nešlo o žádné teroristy, o žádné zahraniční spiknutí. Jedinými teroristy jsou tu komunisté, jedinými cizinci ti, kteří k nám přicházejí z Ruska. Komunisté se pokoušejí řadou lží zatemniti tento čin odhodlaných vlastenců. Ale nikdo z těch, kdo věří ve svobodu a lidskou důstojnost, jim neuvěří.</p>
