-
  const loaded = {
    h1: t.other.loaded[lang]
  }

#loading-screen(data-loaded= JSON.stringify(loaded))
  .loading-screen-content
    svg(xmlns="http://www.w3.org/2000/svg")
      use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo")
    h1= t.other.loading[lang]
