<h1>
	Moravská Ostrava, 9 May 1939
</h1>
<p>
	It is really sad that you were left there only after such difficulties and such a comedy, but still I had to laugh heartily after reading your description and seeing the enclosed pictures. In any case you tried very much and you have become a heavyweight, Max thinks that on that basis you should go to Hollywood [!] After all even Frida sent us a similar clip from a French newspaper, where you’re being carried out.
</p>
